# Dicionário dos dados

Aqui estão as informações sobre cada coluna do dataset.

**Invoice ID**: número de identificação da fatura do comprovante de venda gerado por computador.<br>
**Branch**: Filial do supercentro (estão disponíveis 3 filiais identificadas por A, B e C).<br>
**City**: Localização dos supercentros.<br>
**Customer type**: Tipo de cliente, cadastrado por Associados para clientes com cartão de associado e Normal para sem cartão de associado.<br>
**Gender**: Tipo de gênero do cliente.<br>
**Product line**: Grupos de categorização geral de itens - Acessórios eletrônicos, Acessórios de moda, Alimentos e bebidas, Saúde e beleza, Casa e estilo de vida, Esportes e viagens.<br>
**Unit price**: Preço de cada produto em $.<br>
**Quantity**: Número de produtos comprados por cliente.<br>
**Tax 5%**: Taxa de imposto de 5% para o cliente que compra.<br>
**Total**: Preço total incluindo impostos.<br>
**Date**: Data da compra (Registro disponível de janeiro de 2019 a março de 2019).<br>
**Time**: Hora da compra (10h às 21h).<br>
**Payment**: Pagamento utilizado pelo cliente na compra (3 métodos estão disponíveis – Dinheiro, Cartão de Crédito e Ewallet).<br>
**COGS**: Custo das mercadorias vendido.<br>
**Gross margin percentage**: Porcentagem de margem bruta.<br>
**Gross income**: Receita bruta.<br>
**Rating**: Classificação da estratificação do cliente em sua experiência geral de compra (em uma escala de 1 a 10)

# Importando os dados

Vamos importar os dados utilizando o pandas para comelar a visualização de dados.

In [58]:
import pandas as pd

data = pd.read_csv('base-de-dados/supermarket_sales - Sheet1.csv')
data.rename(columns=lambda x : x.casefold(), inplace=True)
data.sample(3)

,invoice id,branch,city,customer type,gender,product line,unit price,quantity,tax 5%,total,date,time,payment,cogs,gross margin percentage,gross income,rating
539,358-88-9262,C,Naypyitaw,Member,Female,Food and beverages,87.48,6,26.244,551.124,2/1/2019,18:43,Ewallet,524.88,4.761905,26.244,5.1
766,801-88-0346,C,Naypyitaw,Normal,Female,Fashion accessories,76.06,3,11.409,239.589,1/5/2019,20:30,Credit card,228.18,4.761905,11.409,9.8
760,842-40-8179,B,Mandalay,Member,Female,Food and beverages,77.20,10,38.600,810.600,2/11/2019,10:38,Credit card,772.00,4.761905,38.600,5.6

Visualisando os tipos de dados e corrigindo-os para que não tenhamos problemas na visualização.

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   invoice id               1000 non-null   object
 1   branch                   1000 non-null   object
 2   city                     1000 non-null   object
 3   customer type            1000 non-null   object
 4   gender                   1000 non-null   object
 5   product line             1000 non-null   object
 6   unit price               1000 non-null   float64
 7   quantity                 1000 non-null   int64
 8   tax 5%                   1000 non-null   float64
 9   total                    1000 non-null   float64
 10  date                     1000 non-null   object
 11  time                     1000 non-null   object
 12  payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

Trocando o tipo de dado da coluna date e da coluna time, de object para datetime. Isso é feito para podermos plotar gráficos que envolva a coluna date sem dar problemas.

In [59]:
data['date'] = pd.to_datetime(data['date'], format='%m/%d/%Y').dt.date
data['time'] = pd.to_datetime(data['time'], format='%H:%M', errors='ignore').dt.time

# Visualizando os dados

Antes de tudo, devemos importar a lib **matplotlib**, claro. E dessa lib devemos importar o modulo **pyplot**. O apelido para esse modulo é **plt**.

In [20]:
import matplotlib.pyplot as plt

In [23]:
data

,invoice id,branch,city,customer type,gender,product line,unit price,quantity,tax 5%,total,date,time,payment,cogs,gross margin percentage,gross income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6